<div class="container">
    <h1>Calculate</h1>
    <form>
        <div class="form-group">
            <label class="control-label" for="my-input">Number 1</label>
            <input id="my-input" class="form-control" type="number">
        </div>
        <div class="form-group">
            <label class="control-label" for="my-input">Number 2</label>
            <input id="my-input" class="form-control" type="number">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Compute</button>
        </div>
    </form>
</div>